---
---
html {
  width: 100%;
  a {
    text-decoration: none;
//    background-color: #fc0;
//    color: #222;
    color: #fc0;
    padding:0.1em 0.2em;
    border-radius: 0.25em;
    font-weight: 400;
    font-size: 0.70em;
    text-shadow: 0 0 0 #000;
  }
}

body {
  font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #ddd;
  box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  header {
    position: absolute;
    background-color: #222;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    border-top: 5px solid #fc0;

    ul {
      display: flex;
      margin: 0 auto;
      padding: 1em;
      justify-content: space-between;
      list-style-type: none;

//      @media screen and (max-width: 20rem) {
//        width: 95%;
//      }
//      @media screen and (min-width: 20.063rem) {
//        width: 90%;
//      }
//      @media screen and (min-width: 40em) {
//        width: 36rem;
//      }
    }
  }

  .main {
    font-size: 1em;
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 100%;

    article {
      margin: 1em auto;
      padding: 1em;
      background-color: #444;

      @media screen and (max-width: 20rem) {
        width: 95%;
      }
      @media screen and (min-width: 20.063rem) {
        width: 90%;
      }
      @media screen and (min-width: 40em) {
        width: 36rem;
      }
    }

    h1 {
      padding-bottom: 0.5em;
    }

    p, code, h1 {
      @media screen and (max-width: 20rem) {
        width: 93%;
      }
      @media screen and (min-width: 20.063rem) {
        width: 88%;
      }
      @media screen and (min-width: 40em) {
        width: 35rem;
      }

      margin: 0 auto;
    }
    code {
      line-height: 150%;
      font-size: 0.75em;
      display: block;
      background: rgb(78,78,78);
      border-radius: 5px;
      color: white;
      overflow: scroll;
      padding: 0.5em;

      .no {
        color: olive;
      }
      .s2, .s1 {
        color: #00FF40;
      }
      .si {
        color: #228B22;
      }
      .sr {
        color: #4169E1;
      }
    }

    p {
      line-height:200%;
      padding: 0.5em 0;

      code {
        display: inline;
        padding: 0;
      }
    }
  }
}
