---
---

body {
  font-family: papyrus;
  font-size: 1em;

  p, code {
    @media screen and (max-width: 20rem) {
      width: 95%;
    }
    @media screen and (min-width: 20.063rem) {
      width: 90%;
    }
    @media screen and (min-width: 40em) {
      width: 36rem;
    }

    margin: 0 auto;
    padding: 1em 0;
  }
  code {
    display: block;
    background: black;
    color: white;
    overflow: scroll;

    .no {
      color: olive;
    }
    .s2, .s1 {
      color: #00FF40;
    }
    .si {
      color: #228B22;
    }
    .sr {
      color: #4169E1;
    }
  }
}

p {
  code {
    display: inline;
    padding: 0;
  }
}
