---
---
html {
  height: 100%;
  width: 100%;
  a {
    text-decoration: none;
    color: #fc0;
    padding:0.1em 0.2em;
    border-radius: 0.25em;
    font-weight: 400;
    font-size: 0.70em;
    text-shadow: 0 0 0 #000;
  }
}

.MathJax_Display {
  overflow: scroll;
}

body, .home {
  font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #ddd;
  box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  header {
    position: absolute;
    background-color: #222;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    border-top: 5px solid #fc0;

    ul {
      display: flex;
      display: -webkit-flex;
      margin: 0 auto;
      padding: 1em;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      list-style-type: none;
    }
  }

  .main {
    font-size: 1em;
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 100%;

    li {
      margin: 1em;
    }

    figure {
      text-align: center;
      figcaption {
        font-size: 0.75em;
        margin: 1em 0;
      }

      img {
        background-color: white;

        &.blend-in {
          background-color: rgba(0,0,0,0);
        }
      }
    }
    article {
      margin: 1em auto;
      padding: 1em 0;

      background-color: #444;

      @media screen and (max-width: 20rem) {
        width: 95%;
      }
      @media screen and (min-width: 20.063rem) {
        padding: 1em 1em;
        width: 90%;
      }
      @media screen and (min-width: 40em) {
        width: 46rem;
      }
    }

    h1 {
      padding-bottom: 0.5em;
      text-align: center;
    }

    ul li {
      width: 90%;
    }

    blockquote {
      width: inherit;
      margin: 0 1em;
      p {
        font-size: 0.8em;
        font-style: oblique;
      }
    }

    p, code, h1, article, body {
      @media screen and (max-width: 20rem) {
        width: 93%;
      }
      @media screen and (min-width: 20.063rem) {
        width: 88%;
      }
      @media screen and (min-width: 43em) {
        width: 41rem;
      }

      margin: 0 auto;
      word-wrap: break-word;
    }
    code {
      line-height: 150%;
      font-size: 0.75em;
      display: block;
      background: rgb(78,78,78);
      border-radius: 5px;
      color: white;
      overflow: scroll;
      padding: 0.5em;

      .no, .nc {
        color: rgb(255, 253, 158);
      }
      .ss {
        color: rgb(132, 122, 255);
      }
      .nf {
        color: rgb(255, 231, 12);
      }
      .s2, .s1, .sx {
        color: #00FF40;
      }
      .si {
        color: #228B22;
      }
      .sr {
        color: #4169E1;
      }
      .k {
        color: orange;
      }
      .kp {
        color: #FFFC8F;
      }
    }

    p {
      line-height:200%;
      padding: 0.5em 0;

      code {
        display: inline;
        padding: 0;
      }
    }

    pre {
      code {
        word-wrap: normal;
        font-size: 0.5em;

        @media screen and (min-width: 26.667rem) {
          font-size: 0.6em;
        }

        @media screen and (min-width: 30rem) {
          font-size: 0.7em;
        }

      }
    }
  }
}
