---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <title>Edderic Ugaddan's blog</title>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<header>
<nav>
  <ul>
    <li><a href='/' class='home'>Edderic Ugaddan</a></li>
    <li>
    <a href="mailto:edderic@gmail.com">CONTACT ME</a>
    </li>
  </ul>
</nav>
</header>
<section class="main">
  <article>
{{ content }}
  </article>
</section>
</body>
</html>
